# .gitignore for Maven

target/
school-web/bin/
school-web/target/
school-web/.settings/
school-dao/bin/
school-dao/target/
school-dao/.settings/
school-model/bin/
school-model/target/
school-model/.settings/
school-service/bin/
school-service/target/
school-service/.settings/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# .gitignore for Java

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Vitya added 
#school-dao/.classpath
#school-dao/.project
#school-model/.classpath
#school-model/.project
school-model/.settings/org.eclipse.wst.common.component

/bin/
