.custom_table td {
	width: 175px;
	padding-right: 10px;
	height: 45px;
	text-align: right;
}

.custom_table {
	width: 700px;
	left: 0;
	/*margin: auto;*/
}

.datepicker {
	width: 130px;
	height: 30px;
}

.right {
	width: 48%;
	margin-right: 10px;
	margin-top: 20px;
	float: right;
}

.left {
	width: 48%;
	margin-right: 10px;
	margin-top: 20px;
	float: left;
}

.className {
	text-align: left;
}

.main_submit {
	width: 100%;
	display: none;
}

.edit-footer {
	display: block;
	width: 100%;
	float: right;
}



.edit-footer .form-control {
	width: 65px;
	margin: 10px;
	float: right;
}

.row_count {
	float: left;
}

.left_pagination, .right_pagination {
	float: left;
	width: 43%;
	margin: 10px auto;
}

.right_pagination {
	float: right;
}

.spinner_gif {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

h3 {
	margin-top: 0px;
}

/*Our pagination buttons style. Changed from bootstrap.*/
ul.pagination {
	display: table;
	margin: 0 auto;
}

.pagination>.active>a {
	z-index: 2;
	color: #fff;
	cursor: default;
	background-color: #d9edf7;
	border-color: #ddd;
	color: #428bca;
}
/*---------------------------*/